<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ToDo List</title>
        <link rel="stylesheet" href="styles/main.css">
    </head>

    <body>
        <header>
            <nav class="nav" style="margin-top: 20px;">
                <a href="/" class="header-item"><img src="images/calendar.png" alt="Calendar"> Today</a>
                <a href="/work" class="header-item"><img src="images/work.png" alt="Work"> Work</a>
            </nav>
        </header>